
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:url(./Batman.cur),auto;
}
.audio-container {
    position: relative; /* Ensure positioning context for absolute elements */
    background-image: url(./coverpage.png);
    background-size: cover; /* Adjust to cover the container */
    background-position: center; /* Center the background image */
    padding: 40px; /* Add padding for spacing */
    cursor: grab;
  }
  audio {
    width: 100%; /* Make the audio element fill its container */
  }
#main{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
#leftbox{
    border: 2px solid black;
    border: 0;
    width: 100%;
    height: auto;
    background-color: #2A2E36;
}
#photobox{
    background-color: white;
    width: 20%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
}
#photo{
    border: 2px solid white;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: left;

}
#rightbox{
    border: 2px solid none;
    width: 100%;
    background-color: #FFFFFF;
    
}
#contact>#name{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #F4D644;
    height: auto;
    margin-top: 5%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
#name>h3{
    font-size: 30px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#contact{
    border: 2px solid white;
    border: 0;
    margin: auto;
    width: 90%;
}
#contact>h1{
    color:#b30b0b ;
    font-size:20px ;
}
ul>li{
    list-style: none;
    padding: 1%;
}ul>li>span{
    color: white;
}
.boxes{
    border: 2px solid white;
    border: 0;
    margin: auto;
    width: 70%;
}
.boxes>h1{
    color: #b30b0b;
    font-size:20px ;
}
.boxes>p{
    color: #FFFFFF;
}
.boxes{
    width: 90%;
    margin-top: 30px;
}
.rboxes{
    margin: auto;
    width: 90%;
    border: 2px solid red;
    border: 0;
    text-align: left;
    padding-top: 20px;

}
.rboxes>hr{
    border-width: 5px;
    border-top: rgb(60, 59, 59);

}
.rboxes>p{
    font-size: 20px;
}
footer {
    margin: auto;
    width: 100%;
    background-color:#2A2E36;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0; 
}
.rboxes>div{
    border: 2px solid red;
    border: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,20px);
}
.rboxes>div>button{
    height: 50px;
    font-size: large;
    background-color: red;
    border-style: none;
    color: #FFFFFF;
    border-radius: 30px;
}
#video{
    display: flex;
    justify-content: center;
    padding: 5%;
}
#gallery{
    display: flex;
    justify-content: space-evenly; 
    margin: 3%;
    flex-wrap: wrap;
}
#gallery>img{
    width: 200px;
    height: auto;
}
a{
    color: #b30b0b;
}
#interests{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2%;
}
#interests>li>button>p{
    font-size: 20px;
}
.contacts{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2%;
}

